* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $gainsboro;
    background-image: linear-gradient(to bottom, $gainsboro, $light-cyan);

    .navbar {
        background-color: $indigo-dye;

    }
    
    .carousel-inner{
     height: 41rem;
    }

    .tarjetas{ 
        &:hover{ 
            border-style: solid;
            border-color: $space-cadet;
            

        }

     }

    

}








